{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>
  <p>Welcome to {{title}}</p>
{% endblock %}

{% block foot_scripts %}
  <script src="/js/libs/SceneManager.js"></script>
  <script src="/js/libs/canvas.js"></script>
  <script src="/js/libs/sprite.js"></script>
  <script src="/js/libs/input.js"></script>
  <script src="/js/core.js"></script>
{% endblock %}